var newmark = startmark = 0
var status = 1
function touchstart(e, ins) {

  var pageX = (e.touches[0] || e.changedTouches[0]).pageX
  startmark = newmark = pageX
  console.log("pageX:" + pageX + ":Y:" + (e.touches[0] || e.changedTouches[0]).pageY)

  if (status == 1) {
    ins.selectComponent('.page-bottom').setStyle({
      transform: 'translateY(0px)'
    })
    status = 0 // 收起状态
  } else {
    ins.selectComponent('.page-bottom').setStyle({
      transform: 'translateY(146rpx)'
    })
    status = 1 // 展开状态
  }
}

module.exports = {
  touchstart: touchstart
}